{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<div class="container" >

  <div class="row">

    <div class="col-sm-5">
      <h2>Income</h2>
       <table class="table table-bordered table-hover">
       <thead>
       <tr><td>Amount</td>
       	<td>Name</td>
       	<td>Date</td></tr>
      </thead>	
     <tbody>
      {% for i in inc %}
      <tr>
      <td>{{ i.amount}}</td>
      <td><strong >{{ i.name }}</strong></td>
      <td>{{i.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    </div>
    
    <div class="col-sm-5">
      <h2>Expense</h2>
       <table class="table table-bordered table-hover">
       <thead>
       <tr><td>Amount</td>
       	<td>Name</td>
       	<td>Date</td></tr>
      </thead>	
     <tbody>
      {% for i in exp %}
      <tr>
      <td>{{ i.amount}}</td>
      <td><strong >{{ i.name }}</strong></td>
      <td>{{i.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    </div>
 </div>
 </div>

{% endblock %}
